<div class="row vh-100 overflow-auto">
  <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top">
    <app-sidebar class="sidebar w-100"></app-sidebar>
  </div>

  <div class="col-12 col-sm-9 col-xl-10 d-flex flex-column h-100">

    <p levels>Bikes</p>

    <div content>
      <h5>Bikes List</h5>
    </div>

    <div class="col-sm-12">
      <table class="app-table table rounded d-inline-block d-md-table">
        <caption>Table describing bike list</caption>
        <thead>
          <tr>
            <th id="Model">Bike </th>
            <th id="Delivery date"> Delivery Date </th>
            <th id="Repair deadline"> Deadline </th>
            <th id="Client name"> Client </th>
            <th id="Cost"> Cost </th>
            <th id="Action placeholder">ACTION PLACEHOLDER</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bike of bikes | async; let i = index" class="row-bike" [bike]="bike" [routerLink] = "[bike.id]"
            app-bike-table-row >
          </tr>
        </tbody>
      </table>
      <ng-template #noBikesInfo>
        <div class="no-bikes-info">
          <p>Currently no bikes in service</p>
        </div>
      </ng-template>
    </div>
    <div>
    </div>

    <app-total-cost #totalCostRef [cost]="cost"></app-total-cost>

    <app-bike-form></app-bike-form>

    <p class="data-header" #addBikeTitle>Add a new bike</p>

  </div>
</div>
