<div class="row vh-100 overflow-auto">
  <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top">
    <app-sidebar class="sidebar w-100"></app-sidebar>
  </div>

  <div class="col-12 col-sm-9 col-xl-10 d-flex flex-column h-100">

    <div content>
      <h5>Bikes List</h5>
    </div>

    <div class="col-sm-12">
      <table class="app-table table rounded d-inline-block d-md-table">
        <caption>Table describing bike list</caption>
        <thead>
          <tr>
            <th id="Model">Bike </th>
            <th id="Delivery date"> Delivery Date </th>
            <th id="Repair deadline"> Deadline </th>
            <th id="Client name"> Client </th>
            <th id="Cost"> Cost </th>
            <th id="Remove button">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bike of bikes | async; let i = index" class="row-bike" [bike]="bike" [routerLink]="[bike.id]"
            app-bike-table-row>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
    </div>

    <app-total-cost #TaxRef [cost]="cost"></app-total-cost>

    <h3 class="mt-5">Add new Bike</h3>

    <app-bike-form #bikeForm></app-bike-form>
    
    <div class="col d-flex align-items-end justify-content-end">
      <button (click)="addBike()" type="submit" class="btn btn-primary btn-lg">
        Submit
      </button>
      <button (click)="resetForm()" class="btn btn-secondary float-end btn-lg ms-1">
        Reset
      </button>
    </div>

  </div>
</div>
