<td csImportant [ngClass]="{'row-error': bike.isFullyDamaged }"> {{ bike?.model | uppercase }}</td>
<td class = "row-bike"> {{ bike?.deliveryDate | date:'shortDate'}}</td>
<td class = "row-bike"> {{ bike?.deadline | date:'shortDate'}}</td>
<td class = "row-bike"> {{ bike.clientFirstName | surnameShortcut}} {{ bike.clientSurname }}</td>
<td class = "row-bike" csImportant> {{ bike?.cost | currency: 'PLN' }}</td>
<td class = "row-bike"  class = 'remove-btn' (click)="removeBike(bike, $event)"> (X)</td>
