<div class="data-container rounded">
  <form [formGroup]="form" action="">
    <div class="row form-group">
      <div class="col-sm-4">
        <label for="model">Model</label>
        <input formControlName="model" type="text" name="model" id="model" class="form-control" placeholder="model" />
        <p *ngIf="!form.get('model')!.valid && form.get('model')!.dirty" class="alert alert-danger">
          This field is required
        </p>
      </div>
      <div class="col-sm-4">
        <label for="type">Type</label>
        <input formControlName="type" type="text" name="type" id="type" class="form-control" placeholder="type" />
      </div>
      <div class="col-sm-4">
        <label for="color">Color</label>
        <input formControlName="color" type="text" name="color" id="color" class="form-control" placeholder="cost" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6">
        <label for="clientFirstName">Client First Name</label>
        <input formControlName="clientFirstName" type="text" name="clientFirstName" id="clientFirstName"
          class="form-control" placeholder="Client First Name" />
      </div>
      <div class="col-sm-6">
        <label for="clientSurname">Client Surname</label>
        <input formControlName="clientSurname" type="text" name="clientSurname" id="clientSurname" class="form-control"
          placeholder="surname" />
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label for="deliveryDate">Delivery Date</label>
        <input formControlName="deliveryDate" type="date" name="deliveryDate" id="deliveryDate" class="form-control"
          placeholder="date" />
      </div>
      <div class="col-sm-4">
        <label for="deadline">Deadline</label>
        <input formControlName="deadline" type="date" name="deadline" id="deadline" class="form-control"
          placeholder="Deadline" />
      </div>
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <label for="isFullyDamaged">Is bike fully damaged?</label>
        <input class="checkbox" formControlName="isFullyDamaged" type="checkbox" name="isFullyDamaged"
          id="isFullyDamaged" />
      </div>
    </div>

    <div class="my-5 row">
      <h5>Add<span *ngIf="editForm"> More</span> Photos</h5>
      <input multiple formControlName="imageUrl" #files type="file" accept="image/*" name="file" class="col" />
    </div>

    <div *ngIf="!editForm else partsEditForm" class="mb-5">
      <h4>Parts</h4>
      <div formArrayName="parts" *ngFor="let part of parts.controls; let i = index">
        <div [formGroupName]="i">
          <div class="row border-top mt-3">
            <div class="col-12">
              <h5>
                {{ i + 1 }}){{ part.value.name }}
                {{ part.value.price | currency: "PLN" }}
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="row form-group">
              <div class="col-sm-4">
                <label for="name">Part Name</label>
                <input formControlName="name" type="text" name="name" id="name" class="form-control"
                  placeholder="name" />
              </div>
              <div class="col-sm-4">
                <label for="price">Price of this bike part</label>
                <input formControlName="price" type="number" name="price" id="price" class="form-control"
                  placeholder="price" />
              </div>
              <div class="col-sm d-flex align-items-center justify-content-end">
                <label for="inStock" class="m-15">Is this part in stock?</label>
                <input class="checkbox" formControlName="inStock" type="checkbox" name="inStock" id="inStock" />
              </div>
              <div class="col">
                <button type="button" class="btn-close float-end" aria-label="Close" (click)="removePart(i)"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="addPart()">Add Parts</button>
    </div>

    <!-- [disabled]="a.invalid" Fix this down below -->

    <ng-template #partsEditForm>
      Placeholder for edit Parts component
    </ng-template>


  </form>

</div>
