<div class="d-flex background ">
  <div class="d-flex p-3 flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-start mb-0 text-white">Bikes Service</h3>
        <nav class="nav nav-masthead justify-content-center float-md-right">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="bikes">Manager</a>
          <a class="nav-link" href="login">Login</a>
          <a class="nav-link" href="register">Register</a>
          <a class="nav-link" href="logout">Logout</a>

        </nav>
      </div>
    </header>
    <main class="mx-auto px-3 float-end">
      <h1 class="mb-3 mb-md-5 text-white">Bikes Service Manager</h1>
      <p class="lead text-white"> Welcome to Best Bike Service Manager App! <br> Jump right in and see how easily you
        can
        manage your business!<br>
        Most cost-effective and user-friendly</p>
      <a href="bikes" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Lets go to
        Manager!</a>
    </main>


    <footer class="mt-auto text-white-50">
      <p>&copy; 2021 </p>
    </footer>
  </div>
</div>
